.feed {
  max-width: 600px;
  margin: auto;
  padding: 10px;
}
html,
body {
  height: 100%;
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
}

/*TODO: We can remove this if we want the header to be conditionally visible*/
header {
  position: fixed;
  width: 100%;
}

footer{
  bottom: 80px;
}

.post {
  height: 100vh;
  scroll-snap-align: start;
  margin: 0;
}

.post-content {
  background: white;
  border-radius: 10px;
  padding: 12px;
  position: relative;
  top: 100px;
  margin: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 100px);
}

.post_media {
  /* min-height: 50vh; */
}

.post-header {
  font-weight: bold;
  margin-bottom: 8px;
}

.post img,
.post video {
  width: 100%;
  border-radius: 8px;
  margin-top: 8px;
}

.post-text {
  margin-top: 6px;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  border-top: 1px solid #eee;
}

.actions button {
  position: relative;
  overflow: hidden;

  border: none;
  background: none;
  cursor: pointer;

  font-size: 1em;
  padding: 16px;
  width: 100%;
}
.actions button {
  transition:
    transform 0.15s ease,
    background-color 0.8s ease-out,
    color 0.8s ease-out;
}

.actions button:active {
  transition: none;

  transform: scale(0.96);
  background: rgba(255, 188, 188, 0.586);
  color: rgb(190, 29, 0);
}

.reactions {
  font-size: 12px;
  color: #555;
  margin-top: 6px;
  cursor: pointer;
}

#reactionModal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  display: none;
}

#loadMore {
  text-align: center;
  padding: 20px;
  color: gray;
  height:200px;
}

.creator-topbar {
  background-color: var(--brand-color-primary);
}

.creator-topbar .brand-logo {
  max-height: 50px;
  display: inline;
}
